<form>
    <section class="form-block">
        <div class="form-group">
            <label for="formFields_1">Email:</label>
            <input name="emailBox" #email type="text" id="formFields_1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="formFields_7">Password:</label>
            <input name="passwordBox" #password type="password" id="formFields_7" placeholder="Password">
        </div>
    </section>
</form>
<button class="btn btn-primary" (click)="login(email.value, password.value)">Login</button><!--Add *ngIf="validate all fields"-->
<button class="btn btn-primary" (click)="logout()">Logout</button>